@use './Partials/variables';

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Azeret Mono", monospace;
}

body {
  background-color: variables.$red-fuchsia;
  color: variables.$orange-soft;
  text-align: center;
}

h1 {
  color: variables.$orange-soft;
  @include variables.font-style($font-weight: variables.$font-bold, $font-size: variables.$font-size-bold);
  margin: 16px 0;
}

h2 {
  color: variables.$orange-soft;
  @include variables.font-style($font-weight: variables.$font-semi-bold, $font-size: variables.$font-size-semi-bold);
  margin: 16px 0;
}

h3 {
  color: variables.$orange-soft;
  @include variables.font-style($font-weight: variables.$font-regular, $font-size: variables.$font-size-regular)
}

p {
  color: variables.$orange-soft;
  @include variables.font-style($font-weight: variables.$font-extra-light, $font-size: variables.$font-size-extra-light)
}

.header {
  min-width: 320px;
  height: 56px;
  padding: 8px 10px;
  @include variables.flex-container($justify: space-between);
  background-color: variables.$red-fuchsia-dark;

  &-navbar {
    height: 100%;
    display: flex;

    &-list {
      list-style: none;
      @include variables.flex-container($justify: space-between);

      &-item {
        margin: 0 1.2rem;

        .icon-svg {
          width: 24px;
          stroke: variables.$orange-soft;
        }
      }

      img {
        width: 20px;
        height: 20px;
        fill: aqua;
      }
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% + 100vw));
  }
}

.carousel-movies {
  overflow: hidden;
  padding: 0 10px;

  &-container {
    width: fit-content;
    display: flex;
    animation: 35s slide infinite linear;
  }
}

.genres-movies {
  @include variables.flex-container($gap: 16px, $wrap: wrap, $justify: space-around);
  width: 100%;
  padding: 16px 10px;

  &-item {
    @include variables.flex-container();
    width: 160px;
    height: 48px;
    border-radius: 8px;
    background-color: variables.$orange-soft;

    p {
      color: variables.$red-very-dark;
      text-align: center;
    }
  }
}

.options {
  @include variables.flex-container($direction: column);
  width: 100%;
  overflow: hidden;

  &-button {
    border-radius: 22px;
    width: 300px;
    height: 44px;
    display: flex;
    position: relative;
    justify-content: space-around;
    background-color: variables.$orange-soft;
    margin-bottom: 16px;

    &--left {
      left: -1px;
    }

    &--right {
      right: -1px;
    }

    &--absolute {
      border-radius: 22px;
      z-index: 0;
      width: 50%;
      position: absolute;
      height: 100%;
      background-color: variables.$red-fuchsia-dark;
    }

    &-item {
      color: variables.$red-very-dark;
      z-index: 2;
      width: 50%;
      border: none;
      background-color: transparent;
      padding: 0;
      font-size: variables.$font-size-extra-light;
    }
  }

  &-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &-now {
      @include variables.flex-container($wrap: wrap, $gap: 16px);
      width: 100%;
      padding: 16px;
      background-color: variables.$red-fuchsia-dark;
    }

    &-popular {
      @include variables.flex-container($wrap: wrap, $gap: 16px);
      width: 100%;
      padding: 16px;
      background-color: variables.$red-fuchsia-dark;
    }

    figure {
      padding: 8px;
      background-color: variables.$orange-soft;
      border-radius: 16px 0;

      img {
        border-radius: 12px 0;
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: variables.$red-fuchsia-dark;
  display: flex;
  height: 160px;
  flex-wrap: wrap;

  &-links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-list {
      list-style: none;
      padding: 0;
      text-align: start;

      &-item {
        margin: 8px 0;

        a {
          font-size: variables.$font-size-extra-light-credits;
          display: flex;
          gap: 16px;
          align-items: center;
          color: variables.$orange-soft;
          text-decoration: none;
        }

        .item-icon {
          width: 16px;
        }
      }
    }
  }

  &-credits {
    width: 50%;
    text-align: center;
    margin: auto;
  }

  &-author {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}

.inactive {
  display: none;
}